@model Web_cafe_film.Models.Movie

@{
    ViewBag.Title = "Xoa";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xoa</h2>

<h3>Bạn có chắc chắn muốn xóa cuốn bộ phim này không?</h3>
<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.MovieID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URLDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URLDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descriptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descriptions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Writer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Writer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stars)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stars)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.YearProduce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearProduce)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.AddressProduce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressProduce)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.RunningTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RunningTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ReleaseAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseAddress)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.Img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.New)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.New)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Employee.NameEmp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.NameEmp)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
