
@{
    ViewBag.Title = "DangKy";
    // Layout = "~/Views/LayOut/NguoiDungLayOut.cshtml";
}

@model Web_cafe_film.Models.ThanhVien

@{
    ViewBag.Title = "DangKy";
    // Layout = "~/Views/LayOut/NguoiDungLayOut.cshtml";
}

@*<h2>DangKy</h2>*@


@using (Html.BeginForm())
{
    @*@RenderBody();*@
    @Html.AntiForgeryToken()

    <span style="color: greenyellow">
        <h1> Đăng ký tài khoản </h1>
    </span>

    <div class="form-horizontal">

        <span style="color: red">
            <h3>Đăng ký làm thành viên</h3>
        </span>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*<div class="form-group">
                @Html.LabelFor(model => model.MaThanhVien, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MaThanhVien, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MaThanhVien, "", new { @class = "text-danger" })
                </div>
            </div>*@



        <div class="form-group">

            @Html.LabelFor(model => model.HoTen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">


                @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })

                <span id="loiHoTen"></span>
                @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Passwords, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Passwords, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.Passwords, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.GioiTinh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GioiTinh, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
            </div>
        </div>*@



        <div class="form-group">
            @Html.LabelFor(model => model.NgaySinh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control" } })


                @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
            </div>
            <span id="loiNgaySinh"></span>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoDienThoai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoDienThoai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoDienThoai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btnSubmit" type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        @*  </div> *@
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "LayOut")
</div>



